// 컬러
$color-white: #ffffff;
$color-black: #000000;
$color-purple: #845ec2;
$color-yellow: #f9f871;
$color-red: #ff0000;
$color-blue: cornflowerblue;

$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 48px;
$spacing-xxl: 72px;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1600px;

$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

$font-weight-xs: 300;
$font-weight-md: 400;
$font-weight-lg: 700;
